.active-component {
  background-color: #fff;
  min-height: 1000px;
  height: 100%;
  position: relative;
  &-header {
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 .5rem;
  }
  &-view {
    width: 500px;
    height: 889px;
    background-color: #efefef;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      background-clip: padding-box;
      min-height: 8px;
      height: 10%;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .absolute {
      position: absolute;
      top: 0;
      width: 100%;
    }
    &-form-release {
      position: relative;
      .active-component-view-form {
        .input {
          margin-bottom: 15px;
          margin-top: 0;
        }
      }
    }
    &-form {
      // text-align: center;
      padding-bottom: 20px;
      .input {
        outline: none;
        width: 400px;
        height: 55px;
        line-height: 55px;
        font-size: 17.5px;
        margin-top: 20px;
        border: 0;
        padding-left: 10px;
        display: block;
      }
      .submit {
        display: block;
        width: 400px;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
        border: 0;
        background-color: #fff;
        border: 1px solid lightgray;
        text-align: center;
        margin: 30px auto 0;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
      .submit:hover {
        opacity: .9;
      }
    }
    .active-component-model {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,.5);
      &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        text-align: center;
        &-title {
          height: 50px;
          line-height: 50px;
          font-size: 24px;
          color: #fff;
        }
        &-tip {
          line-height: 40px;
          height: 40px;
          color: #333;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        &-tip2 {
          line-height: 40px;
          height: 40px;
          color: #999;
          font-size: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        &-btn {
          border-top: 1px solid #efefef;
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
}
