
.active-page {
  overflow: hidden;
}
.ant-spin-container {
  height: 100%;
}
.active-config {
  position: relative;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  &-content {
    background: #fff;
    width: calc(100% - 600px - 20px);
    float: left;
    height: calc(100% - 40px);
    overflow: auto;
    &-header {
      font-size: 1rem;
      height: 2.5rem;
      line-height: 2.5rem;
      padding: 0 .5rem;
    }
    &-btns {
      text-align: center;
      margin: .5rem 0;
    }
  }
  &-view {
    // position: fixed;
    float: right;
    width: 600px;
    height: calc(100% - 40px);
    overflow: auto;
    // right: 0;
    // top: calc(7rem + 8px);
    // background: lightgray;
  }
  .active-view {
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    box-sizing: border-box;
    margin-bottom: 1rem;
    &:active, &:hover {
      box-shadow: 0px 2px 5px #ccc;
      .close {
        display: block;
      }
    }
    &-name {
      font-size: 0.8rem;
      line-height: 2rem;
      height: 2rem;
      padding: 0 .5rem;
      box-sizing: border-box;
      border-bottom: 1px solid #efefef;
      .close {
        float: right;
        display: none;
      }
    }
    &-content {
      padding: .5rem;
      box-sizing: border-box;
      &-form {
        &-name {
          border-top: 1px solid #efefef;
          font-size: .8rem;
          padding: 5px 0;
        }
      }
      .ant-form-item-label {
        padding-right: .5rem;
        font-size: .8rem;
      }
      &:after {
        content: '';
        display: table;
        width: 100%;
      }
    }
  }
}
