html, body, #root, .app{
  font-size: 20px;
  height: 100%;
  width: 100%;
  background: #eeeeee;
  color: #333;
  .wrapper {
    height: calc(100% - 3rem);
    overflow-y: auto;
    display: flex;
    .container {
      height: 100%;
      flex: 1;
      position: relative;
      border-bottom: 40px;
      box-sizing: border-box;
    }
  }
  .ant-table tbody td {
    padding: .5rem 16px;
  }
}

.clearfix {
  zoom:1;
  &::after, &::before {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0
  }
}

.page {
  margin: 0.5rem;
  height: calc(100% - 3.5rem - 42px);
  overflow: auto;
}

