html, body, #root, .app{
  font-size: 20px;
  height: 100%;
  width: 100%;
  background: #fff;
  color: #333;
  .wrapper {
    height: calc(100% - 3rem);
    overflow-y: auto;
    display: flex;
    .container {
      flex: 1;
    }
  }
}
